/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Montserrat', sans-serif;
  color: #5E6164;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Montserrat', sans-serif;
  color: #23293B;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
.nav-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem auto;
}
.nav-bar h1 {
  font-size: 3.5rem;
}
.nav-bar nav {
  width: 70%;
  display: flex;
  justify-content: space-between;
}
.nav-bar nav .nav-left {
  margin: 0 3rem;
}
.nav-bar nav .nav-right a,
.nav-bar nav .nav-left a {
  margin: 0 2rem;
  font-size: 1.5rem;
  text-decoration: none;
  transition: color 0.3s;
}
.nav-bar nav .nav-right a:visited,
.nav-bar nav .nav-left a:visited,
.nav-bar nav .nav-right a active,
.nav-bar nav .nav-left a active {
  color: #5E6164;
}
.nav-bar nav .nav-right a:hover,
.nav-bar nav .nav-left a:hover {
  color: #6C63FF;
}
header .cta {
  margin-top: -3rem;
  margin-bottom: -10rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 5%;
}
header .cta .cta-container {
  display: flex;
}
header .cta .cta-container .cta-text {
  margin: -1rem 4rem;
}
header .cta .cta-container .cta-text h2 {
  font-size: 3rem;
  line-height: 4rem;
  margin: 5rem 0 2rem;
}
header .cta .cta-container .cta-text h2 span {
  color: #6C63FF;
}
header .cta .cta-container .cta-text p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
header .cta .cta-container .cta-img img {
  width: 100%;
}
header .cta .cta-btn {
  margin-bottom: 10rem;
}
header .cta .cta-btn button {
  cursor: pointer;
  padding: 2.5%;
  width: 20%;
  font-family: 'Montserrat';
  color: white;
  background-color: #454B69;
  transition: background-color 0.2s, border 0.2s;
  border: none;
  border-radius: 2rem 5rem;
}
header .cta .cta-btn button:hover {
  background-color: #6C63FF;
}
.features {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2%;
  background-color: #F1EFFF;
}
.features h2 {
  font-size: 3rem;
  margin: 4rem 5rem;
}
.features .feature-container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  text-align: center;
}
.features .feature-container .app-feature {
  margin: 5rem 2rem 2rem;
  padding: 2%;
  width: 100%;
}
.features .feature-container .app-feature h3 {
  margin: 3rem 0;
  font-size: 2.1rem;
  text-transform: uppercase;
}
.features .feature-container .app-feature p {
  font-size: 1.5rem;
}
.features .feature-container .app-feature .feature-img {
  width: 100%;
}
.features .feature-container .app-feature .feature-img img {
  width: 100%;
}
.students-success {
  padding: 11%;
}
.students-success div:last-child {
  margin: 5rem 0;
}
.students-success .success-descript {
  display: flex;
  align-items: center;
}
.students-success .success-descript h4 {
  font-size: 2.7rem;
  margin-bottom: 2rem;
}
.students-success .success-descript p {
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
}
.students-success .success-descript .student-img {
  width: 100%;
  margin: 0 7rem;
}
.students-success .success-descript .student-img img {
  width: 90%;
}
.reviews {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.reviews .review-item-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: 5rem;
}
.reviews .reviews-btn {
  margin-bottom: 8rem;
}
.reviews .join-now {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reviews .join-now .join-img {
  width: 50%;
}
.reviews .join-now .join-img img {
  width: 100%;
}
.footer-nav .social-links {
  display: flex;
  justify-content: center;
}
.footer-nav .social-links a {
  margin: 3rem;
  font-size: 2rem;
}
.footer-nav .legal-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
