header {
  .cta {
    margin-bottom: -10rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5%;

    @media @tablet {
      padding: 2%;
    }
    .cta-container {
      display: flex;
      // align-items: center;
      .cta-text {
        margin: -1rem 4rem;
        h2 {
          font-size: 3rem;
          line-height: 4rem;
          margin: 5rem 0 2rem;
          span {
            color: @primary-purple;
          }

          @media @tablet {
            font-size: 2.2rem;
            line-height: 3rem;
          }
        }
        p {
          font-size: 1.5rem;
          margin-bottom: 2rem;

          @media @tablet {
            font-size: 1.2rem;
            line-height: 2.5rem;
          }
        }
      }
      .cta-img {
        img {
          width: 100%;

          @media @tablet {
            width: 95%;
          }
        }
      }
    }

    .cta-btn {
      margin-bottom: 10rem;
      button {
        cursor: pointer;
        padding: 2.5%;
        width: 20%;
        font-family: "Montserrat";
        font-size: 1.5rem;
        color: white;
        background-color: @primary-purple-dark;
        transition: background-color 0.2s, border 0.2s;
        border: none;
        border-radius: 2rem 5rem;
        outline: none;

        @media @tablet {
          font-size: 1.2rem;
          padding: 2%;
        }
        &:hover {
          background-color: @primary-purple;
        }
      }
    }
  }
}

//Feature Section
.features {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2%;
  background-color: @primary-purple-light;

  h2 {
    font-size: 3rem;
    margin: 4rem 5rem;

    @media @tablet {
      margin: 3rem 4rem;
    }
  }
  .feature-container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    text-align: center;

    .app-feature {
      margin: 5rem 2rem 2rem;
      padding: 2%;
      width: 100%;

      @media @tablet {
        margin: 3rem 2rem 2rem;
      }

      h3 {
        margin: 3rem 0;
        font-size: 2.1rem;
        text-transform: uppercase;

        @media @tablet {
          font-size: 1.5rem;
        }
      }

      p {
        font-size: 1.3rem;

        @media @tablet {
          font-size: 1.3rem;
        }
      }

      .feature-img {
        width: 100%;
        img {
          width: 100%;
        }
      }
    }
  }
}

//Student Success
.students-success {
  padding: 3% 10% 3%;
  width: 100%;

  @media @tablet {
    padding: 1% 7% 2%;
    margin-top: -7%;
    margin-bottom: 3%;
  }

  & div:last-child {
    margin: 9rem 0 1rem;
  }

  .success-descript {
    display: flex;
    align-items: center;

    h2 {
      font-size: 3rem;
      margin-bottom: 4rem;
      color: @primary-purple;
      text-transform: uppercase;

      @media @tablet {
        font-size: 2rem;
        margin-bottom: 3rem;
      }
    }
    p {
      margin-top: 2rem;
      font-size: 1.5rem;
      letter-spacing: 0.1rem;

      @media @tablet {
        font-size: 1.3rem;
      }
    }
    .student-img {
      width: 100%;
      margin: 0 7rem;

      @media @tablet {
        margin: 0 5rem;
      }
      img {
        width: 100%;
      }
    }
  }
}

//Review Section
.reviews {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: @primary-purple-light;
  padding: 3%;

  @media @tablet {
    padding: 5%;
  }

  .join-now {
    display: flex;
    flex-direction: column;
    h2 {
      margin-bottom: 4rem;
      span {
        color: @primary-purple;
      }
      @media @tablet {
        font-size: 2.5rem;
      }
    }

    .register-btn {
      width: 100%;
      text-align: center;
      button {
        cursor: pointer;
        padding: 2.5%;
        width: 50%;
        font-family: "Montserrat";
        font-size: 1.5rem;
        color: white;
        background-color: @primary-purple-dark;
        transition: background-color 0.2s, border 0.2s;
        border: none;
        border-radius: 2rem 5rem;
        outline: none;

        &:hover {
          background-color: @primary-purple;
        }
      }
    }
  }
}

//Footer
.footer-nav {
  .social-links,
  .legal-links {
    a:visited,
    a:active {
      color: @primary-purple-dark;
    }
    a {
      font-size: 2rem;
      margin: 3rem;
      text-decoration: none;
      transition: color 0.2s;
      color: @main-font-color;
      &:hover {
        color: @nav-links;
      }
    }
  }
  .social-links {
    display: flex;
    justify-content: center;
    a {
      font-size: 2.5rem;
    }
  }
  .legal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      font-size: 2rem;
      span {
        color: @primary-purple;
      }
    }
  }
}
