header {
  .cta {
    margin-bottom: -10rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5%;

    @media @tablet {
      padding: 2%;
    }
    .cta-container {
      display: flex;
      // align-items: center;
      .cta-text {
        margin: -1rem 4rem;
        h2 {
          font-size: 3rem;
          line-height: 4rem;
          margin: 5rem 0 2rem;
          span {
            color: @primary-purple;
          }

          @media @tablet {
            font-size: 2.2rem;
            line-height: 3rem;
          }
        }
        p {
          font-size: 1.5rem;
          margin-bottom: 2rem;

          @media @tablet {
            font-size: 1.2rem;
            line-height: 2.5rem;
          }
        }
      }
      .cta-img {
        img {
          width: 100%;

          @media @tablet {
            width: 95%;
          }
        }
      }
    }

    .cta-btn {
      margin-bottom: 10rem;
      button {
        cursor: pointer;
        padding: 2.5%;
        width: 20%;
        font-family: "Montserrat";
        font-size: 1.5rem;
        color: white;
        background-color: @primary-purple-dark;
        transition: background-color 0.2s, border 0.2s;
        border: none;
        border-radius: 2rem 5rem;
        outline: none;

        @media @tablet {
          font-size: 1.2rem;
          padding: 2%;
        }
        &:hover {
          background-color: @primary-purple;
        }
      }
    }
  }
}