header {
  .cta {
    text-align: center;
    h2 {
      font-size: 2.8rem;
      margin: 5rem 0 2rem;
    }

    p {
      font-size: 1.5rem;
      margin-bottom: 2rem;
    }

    .cta-btn {
      margin-bottom: 10rem;
      button {
        cursor: pointer;
        padding: 2%;
      }
    }
  }
}

//Feature Section
.features {
  
}