// Variables

// Color pointers
@header-font-color: @ebony-clay;
@main-font-color: @shuttle-gray;
@nav-links: @primary-purple;


// Color Vars
@shuttle-gray: #5E6164;
@ebony-clay: #23293B;
@primary-purple: #6C63FF;
@primary-purple-dark: #454B69;
@primary-purple-light: #F1EFFF;